.red{
background:red;
}

.green{
	background:green;
}
.blue{	
	background:blue;
}
.yellow{
	background:yellow;
}
.orange{
	background:orange;
}
.grey{
	background:#gray;	
}
.item{
	height:400px;
	overflow: hidden;
	border:5px solid #ffffff;
}
.top{
	z-index:100;
	position:absolute;
	top: 50%;
	background:black;
	height:200px;
}
